* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    background-color: rgb(65, 114, 131);
    font-family: sans-serif;
      font-weight: 100;
  }
  
  /*NORMAL NAVIGATION BAR*/
  
  nav {
    height: 80px;
    background-color: rgb(129, 163, 195);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 80px;
  }
  
  nav .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }
  
  nav p {
    font-size: 20px;
    text-align: center;
  }
  
  nav img{
    height: 70px;
    width: 80px;
    padding-right: 20px;
  }
  
  
  nav ul{
    width: 100%;
    padding:10px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  nav ul li {
    list-style: none;
    display: inline-block;
    margin: 20px;
    text-align: center;
  }
  
  nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    padding: 1px;
  }
  
  nav ul li a:hover {
    background: rgb(246, 243, 249);
    transition: 0.5s;
  }
  
  nav a:hover{
    color:  black;
  }
  
  /*RESPONSIVE MENU/NAVIGATION BAR FORMAT/STYLING*/
  
  nav .menubar i{
    font-size: 20px;
    color: black;
    cursor: pointer;
    display: none;
  }
  
  #click {
    display: none;
  }
  
  nav .dropdown .scroll {
    display: none;
    padding-bottom: 8px;
  }
  
  nav .dropdown:hover .scroll {
    display: block;
    position: absolute;
    margin-top: 1px;
    padding-top: 2px;
    margin-bottom: 15px;
    margin-left: 17px;
    background-color:black ;
    border-radius: 5px;
  }
  
  .scroll ul {
    display: block;
  }
  
  .scroll ul li{
    text-align: center;
    display: block;
  }
  
  nav .mobile {
    display: none;
  }
  
  
  /*responsive*/
  /*MEDIA QUERIES FOR MENU BAR/RESPONSIVE*/
  @media (max-width:1370px) {
  
    nav .menubar i{
        display: block;
    }
  
    #click:checked ~ .menubar i::before {
        content: "\f00d";
    }
  
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: rgb(47, 129, 129);
        height: 500vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.5s ease;
  
    }
  
    #click:checked ~ ul{
        left: 0;
    }
  
  
  
    nav ul li {
        margin: 10px 100px;
    }
  
    nav li a{
        font-size: 20px;
        display: block;
        font-weight: 600;
    }
  
    nav ul li a:hover{
        color: black;
    }
  
  
    nav .dropdown:hover .scroll {
        display: block;
        position: absolute;
        margin-top: 4px;
        padding-top: 5px;
        margin-bottom: 15px;
        margin-left: 17px;
        background-color: black;
        border-radius: 8px;
    }
  
    nav .dropdown {
        display: none;
    }
  
    nav .mobile {
        display: block;
    }
  }
  
  /*OTHER CONTENT*/
  
  iframe{
       width: 450px;
      height: 450px; 
        
  }
  
  img{
      width: 400px;
      height: 400px;
  }
  h2{
      font-family: sans-serif;
      font-size: 1.3em;
      font-weight: 700;
    }
    
  h3{
      font-family: sans-serif;
      font-size: 1.3em;
      font-weight: 700;
  }
  .myDiv{
         
          text-align: center;
           }
  
  /*OTHER TURTLE HATCHERIES LINKING BUTTON*/
  
  .other{
    text-align: center;
  }
           
  .other a {
            background-color: #052f48;
            color:white;
            padding: 20px 30px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
          }
          
  .other a:hover, a:active {
            background-color: rgb(123, 181, 239);
          }
  
  
          
          .booknow{
            text-align: center;
          }
                   
          .booknow a {
                    background-color: #051248;
                    color:white;
                    padding: 50px 100px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                  }
                  
          .booknow a:hover, a:active {
                    background-color: rgb(123, 181, 239);
                  }
  
  
  /*FOOTER*/
  
  footer {
            text-align: center;
            padding: 20px;
            background-color: rgb(129, 163, 195);
            color: rgb(12, 8, 8);
            
              }
    
  